html,body{
    height: 80%;
}
body{
    background: linear-gradient(to bottom right,purple,cyan);
}
h1{
    color: rgb(0, 132, 255);
    background-color: silver;
    border: 3px solid rgb(0, 0, 0);
}
p{
    color: rgb(255, 115, 0);
}
#navbar {
    overflow: hidden;
    background-color: #333;
}
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}